@font-face {
	font-family: CirceRounded;
	font-display: swap;
	src: url("../fonts/CirceRounded-Regular.woff2") format("woff2"), url("../fonts/CirceRounded-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: CirceRounded;
	font-display: swap;
	src: url("../fonts/CirceRounded-ExtraLight.woff2") format("woff2"), url("../fonts/CirceRounded-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: CirceRounded;
	font-display: swap;
	src: url("../fonts/CirceRounded-AltBold.woff2") format("woff2"), url("../fonts/CirceRounded-AltBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

// @font-face {
// 	font-family: CirceRounded;
// 	font-display: swap;
// 	src: url("../fonts/CirceRounded-Regular2.woff2") format("woff2"), url("../fonts/CirceRounded-Regular2.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;}
// @font-face {
// 	font-family: CirceRounded;
// 	font-display: swap;
// 	src: url("../fonts/CirceRounded-Regular4.woff2") format("woff2"), url("../fonts/CirceRounded-Regular4.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;}
// @font-face {
// 	font-family: CirceRounded;
// 	font-display: swap;
// 	src: url("../fonts/CirceRounded-Regular5.woff2") format("woff2"), url("../fonts/CirceRounded-Regular5.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;}
// @font-face {
// 	font-family: CirceRounded;
// 	font-display: swap;
// 	src: url("../fonts/CirceRounded-Regular3.woff2") format("woff2"), url("../fonts/CirceRounded-Regular3.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;}
// @font-face {
// 	font-family: CirceRoundedAlt;
// 	font-display: swap;
// 	src: url("../fonts/CirceRoundedAlt-Regular2.woff2") format("woff2"), url("../fonts/CirceRoundedAlt-Regular2.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;}
