.page-hero {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 60.29%, var(--page-hero-accent, #9E61FF) 142.93%);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(56 * var(--width-multiplier));
    min-height: 100vh;
    padding: calc(240 * var(--width-multiplier)) 0 calc(32 * var(--width-multiplier));
    text-align: center;
  }

  &__group {
    position: relative;
    max-width: calc(820 * var(--width-multiplier));
  }

  &__title {
    font: 400 calc(64 * var(--width-multiplier))/1.1 CirceRounded;
    text-transform: uppercase;
    text-align: center;
  }

  &__badge {
    @include badge-base;

    &--tl {
      --badge-delay: 0s;
      top: calc(-8 * var(--width-multiplier));
      right: 100%;
    }
    &--tr {
      --badge-delay: 0.8s;
      top: calc(-16 * var(--width-multiplier));
      left: 94%;
    }
    &--bl {
      --badge-delay: 1.5s;
      bottom: calc(-8 * var(--width-multiplier));
      left: calc(4 * var(--width-multiplier));
    }
    &--br {
      --badge-delay: 0.4s;
      bottom: calc(-16 * var(--width-multiplier));
      right: 0;
    }
  }

  &__desc {
    max-width: calc(393 * var(--width-multiplier));
    margin-top: auto;
    text-align: center;
  }
}
