.people {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(40 * var(--width-multiplier));
  }

  &__title {
    text-align: center;
    max-width: calc(620 * var(--width-multiplier));
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: calc(110 * var(--width-multiplier));
    row-gap: calc(64 * var(--width-multiplier));
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(20 * var(--width-multiplier));

    &:nth-child(3n + 2) {
      .people__img {
        height: calc(480 * var(--width-multiplier));
      }
    }
  }

  &__img {
    height: calc(356 * var(--width-multiplier));
    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(8 * var(--width-multiplier));
    text-align: center;
  }

  &__name {
    font: 400 calc(24 * var(--width-multiplier))/1.1 CirceRounded;
  }

  &__desc {
    max-width: calc(280 * var(--width-multiplier));
    font-size: calc(14 * var(--width-multiplier));
  }
}
