.people {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(40 * var(--width-multiplier));
  }

  &__title {
    text-align: center;
    max-width: calc(620 * var(--width-multiplier));
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 0.9fr;
    column-gap: calc(32 * var(--width-multiplier));
    row-gap: calc(56 * var(--width-multiplier));
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: calc(20 * var(--width-multiplier));

    // Center column: center-align text
    &:nth-child(3n + 2) {
      .people__info {
        align-items: center;
        text-align: center;
      }

      .people__desc {
        max-width: calc(320 * var(--width-multiplier));
      }
    }
  }

  &__img {
    // aspect-ratio: 3/4;

    img {
      display: block;
      width: auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
    text-align: center;
  }

  &__name {
    font: 400 calc(24 * var(--width-multiplier))/1.2 CirceRounded;
  }

  &__desc {
    font-size: calc(14 * var(--width-multiplier));
  }
}
