.who {
  &__head {
    position: relative;
    max-width: calc(400 * var(--width-multiplier));
    margin: 0 auto;
    margin-bottom: calc(70 * var(--width-multiplier));
  }

  &__title {
    text-align: center;
  }

  &__label {
    position: absolute;
    text-transform: uppercase;
    font-size: calc(14 * var(--width-multiplier));

    &--tl {
      top: calc(-24 * var(--width-multiplier));
      left: calc(60 * var(--width-multiplier));
      transform: rotate(3deg);
      
    }
    &--tr {
      top: calc(-24 * var(--width-multiplier));
      right: calc(40 * var(--width-multiplier));
      transform: rotate(6deg);
      font-size: calc(20 * var(--width-multiplier));
    }
    &--bl {
      bottom: calc(-20 * var(--width-multiplier));
      left: calc(60 * var(--width-multiplier));
      transform: rotate(-9deg);
    }
    &--br {
      bottom: calc(-16 * var(--width-multiplier));
      right: calc(64 * var(--width-multiplier));
      transform: rotate(3deg);
    }
  }

  &__card {
    display: flex;
    gap: calc(40 * var(--width-multiplier));
    align-items: stretch;
    background-color: var(--dark-gray, $dark-gray);
    border-radius: calc(24 * var(--width-multiplier));
    padding: calc(24 * var(--width-multiplier));
  }

  &__img {
    flex-shrink: 0;
    width: calc(380 * var(--width-multiplier));
    aspect-ratio: 1/1;
    border-radius: calc(16 * var(--width-multiplier));
    overflow: hidden;
    background-color: #B8BCDF;

    img {
      @include full-img-cover;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(32 * var(--width-multiplier));
    padding: calc(8 * var(--width-multiplier)) 0;
  }

  &__text {
    font-size: calc(32 * var(--width-multiplier));
    line-height: 1.2;
  }

  &__facts {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
  }

  &__facts-label {
    font-size: calc(14 * var(--width-multiplier));
    font-weight: 700;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(16 * var(--width-multiplier));
  }

  &__stat {
    display: flex;
    flex-direction: column;
    gap: calc(4 * var(--width-multiplier));
  }

  &__stat-value {
    font: 400 calc(24 * var(--width-multiplier))/1 CirceRounded;
    color: var(--accent, $accent);
  }

  &__stat-desc {
    font-size: calc(14 * var(--width-multiplier));
  }
}
