.work {
  padding-top: calc(94 * var(--width-multiplier));
  &__head {
    position: relative;
    max-width: calc(620 * var(--width-multiplier));
    margin: 0 auto;
    margin-bottom: calc(70 * var(--width-multiplier));
    @media (max-width: 1024px) {
      margin-bottom: calc(50 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      margin-bottom: calc(24 * var(--width-multiplier));
    }
  }

  &__title {
    text-align: center;
  }

  &__label {
    position: absolute;
    text-transform: uppercase;
    font-size: calc(14 * var(--width-multiplier));

    &--tl {
      top: calc(-24 * var(--width-multiplier));
      left: calc(60 * var(--width-multiplier));
      --label-rotate: -10deg;
      transform: rotate(var(--label-rotate));
      
    }
    &--tr {
      top: calc(-24 * var(--width-multiplier));
      right: calc(84 * var(--width-multiplier));
      --label-rotate: 6deg;
      transform: rotate(var(--label-rotate));
      font-size: calc(20 * var(--width-multiplier));
    }
    &--bl {
      bottom: calc(-20 * var(--width-multiplier));
      left: calc(20 * var(--width-multiplier));
      --label-rotate: -10deg;
      transform: rotate(var(--label-rotate));
    }
    &--br {
      bottom: calc(-24 * var(--width-multiplier));
      right: calc(64 * var(--width-multiplier));
      --label-rotate: -8deg;
      transform: rotate(var(--label-rotate));
      font-size: calc(20 * var(--width-multiplier));
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
    max-width: calc(964 * var(--width-multiplier));
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: calc(24 * var(--width-multiplier));
    padding: calc(24 * var(--width-multiplier));
    border-radius: calc(20 * var(--width-multiplier));
    background-color: var(--dark-gray, $dark-gray);
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;

    &:hover {
      background-color: var(--accent, $accent);
      transform: rotate(1deg);
    }

    @media (max-width: 767px) {
      gap: calc(8 * var(--width-multiplier));
      padding: calc(12 * var(--width-multiplier));
    }
  }

  &__img {
    flex-shrink: 0;
    width: calc(90 * var(--width-multiplier));
    aspect-ratio: 1/1;
    border-radius: calc(12 * var(--width-multiplier));
    overflow: hidden;
    background-color: rgba(200, 190, 240, 0.25);

    img {
      @include full-img-cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
  }

  &__name {
    font: 400 calc(32 * var(--width-multiplier))/1.1 CirceRounded;
    @media (max-width: 767px) {
      font-size: calc(20 * var(--width-multiplier));
    }
  }

  &__desc {
    font-size: calc(14 * var(--width-multiplier));
    max-width: calc(260 * var(--width-multiplier));
  }
}
